<ion-view title="Formstacks">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="formstack in formstacks" href="#/app/formstack/{{formstack.slug}}">
        {{formstack.name}} 
        <div class="small">
          <span class="badge badge-assertive">{{formstack.stats.form_count}}</span>
          <span class="badge badge-balanced">{{formstack.stats.block_count}}</span>
          <span class="badge badge-assertive">{{formstack.stats.question_count}}</span>
        </div> 
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
