<ion-view title="{{formstack.name}}">
  <ion-content class="has-header">
    <h1></h1>
    
    <div class='col col-66'>
        <div class="card padding " ng-repeat='form in formstack.forms'>
            <div class="item item-text-wrap">
                <h2>Form: {{form.name}}</h2>
                <div>
                    <p ng-show='form.skip_question'>Skip question: {{form.skip_question}}</p>
                    <p ng-show='form.event_label'>Event: {{form.event_label}}</p>
                </div>
            </div>
            <div class="item item-divider">            
                <div class="card padding" ng-repeat='block in form.blocks'>
                    <div class="item item-divider">
                        <h3>Block: {{block.name}}</h3>
                    </div>
                    <div class="item item-text-wrap">
                        <div class="list card">
                            <div class='item' ng-repeat='question in block.questions'>
                                <div>{{question.body}}</div>
                                <div class="small">
                                    Label: {{question.label}}   Type: {{question.type}}
                                </div>

                                <div ng-show="question.choices">
                                    <span class="small">Question Choices</span>
                                    <select>
                                        <option ng-repeat='choice in question.choices' value='choice.value'>{{choice.verbose}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="button button-small button-balanced" ng-click="editCallback('question', {formstack:{{formstack.id}}, form:{{form.id}}, block:{{block.id}} });">
                                Add Question
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="button button-small button-balanced" ng-click="editCallback('block');">
                        New Block
                    </button>
                </div>
            </div>
        </div>
    </div> <!-- end col-50 -->
  </ion-content>
</ion-view>
