<ion-view title="Formstacks">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="formstack in formstacks" href="#/app/formstack/{{formstack.slug}}">
        <div>{{formstack.name}}</div>
        <div class="">
          <div class="badge badge-balanced">{{formstack.stats.form_count}}/{{formstack.stats.block_count}}/{{formstack.stats.question_count}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
