<ion-view title="Survey">
  <ion-content class="has-header">
    <h1>{{survey.name}}</h1>
    
    <div class='col col-50'>
    <div class="card padding " ng-repeat='block in survey.blocks'>
        <div class="item item-text-wrap">
            <h2>Block: {{block.name}}</h2>
            <div>
                <p ng-show='block.skip_question'>Skip question: {{block.skip_question}}</p>
                <p ng-show='block.event_label'>Event: {{block.event_label}}</p>
            </div>
        </div>
        <div class="item item-divider">            
            <div class="card padding" ng-repeat='form in block.forms'>
                <div class="item item-divider">
                    <h3>Form: {{form.name}}</h3>
                </div>
                <div class="item item-text-wrap">
                    <div ng-repeat='question in form.questions'>
                        <h4>Question: {{question}}</h4>
                    </div>

                    <div>
                        <button class="button button-small button-balanced" ng-click="editCallback('question');">
                            Add Question
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <button class="button button-small button-balanced" ng-click="editCallback('form');">
                    New Form
                </button>
            </div>
        </div>
    </div>
    </div>
  </ion-content>
</ion-view>
