<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Question</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Label" ng-model='newQuestion.label'>
      </label>
      <p class="field_error" ng-repeat='error in newQuestion.field_errors.label'>{{error}}</p>
      <label class="item item-input">
        <input type="text" placeholder="Slug" ng-model='newQuestion.slug'>
      </label>
      <p class="field_error" ng-repeat='error in newQuestion.field_errors.slug'>{{error}}</p>
      <label class="item item-input">
        <input type="text" placeholder="Question Type" ng-model='newQuestion.type'>
      </label>
      <p class="field_error" ng-repeat='error in newQuestion.field_errors.type'>{{error}}</p>
      <label class="item item-input">
        <textarea placeholder="Main Question Body" ng-model='newQuestion.body'></textarea>
      </label>
      <p class="field_error" ng-repeat='error in newQuestion.field_errors.body'>{{error}}</p>

    </div>
    <div class="row">
        <div class="col col-33">
            <button ng-click="closeModal('cancel')" class="button button-stable">
              Cancel
            </button>
        </div>
        <div class="col col-33 col-offset-33">
            <button ng-click="closeModal('submit-question')" class="button button-positive">
              Submit
            </button>
        </div>
    </div>
  </ion-content>
</ion-modal-view>